body{
    background-color: #EAEAEA;
    /*
    background-image: url(../cat.jpg);
    background-attachment: fixed;
    background-size: cover;
    */
    margin: 20px;
}

h1{
    font-size: 36px;
    font-family: "times new roman", times, serif;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 0px;
    color: #282828;
}

p{
    font-size: 12px;
    color: #282828;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
}

a{
    font-size: 12px;
    color: #282828;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
}

h2{
    font-size: 18px;
    color: #282828;
    letter-spacing: 1px;
    font-weight: normal;
}

ul{
    line-height: 18px;
    list-style: none;
    padding-left: 10px;
}